@import '../../sass/utils/constants';

.error__title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
    color: $text-color;
    margin-top: 24px;
}