$background-color: #EDD2E0;
$navigation-link-color: #797B84;
$navigation-link-color-active: #3E3E3E;
$search-input-background: #BAA1A7;
$text-color: #3E3E3E;
$search-button-background: #EDBBB4;
$item-background-color: #DBABBE;
$item-title-color: #000000;