@import '../../sass/utils/constants';

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.modal { 
    &__window {
        font-family: 'Inter', sans-serif; 
        color: $item-title-color;
        max-width: 840px;
        background-color: rgba(255, 255, 255, 1);
        padding: 12px;
        border-radius: 8px;
        transform: scale(0.3);
        transition: .5s;
        &.active {
            transform: scale(1);
        }
    }
    &__data {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        padding: 12px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
        color: $item-title-color;
    }
    &__close__button {
        transition: .3s;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    &__description {
        font-size: 18px;
        line-height: 22px;
        margin-top: 16px;
        &:first-child {
            margin-top: 0;
        }
        &__title {
            color: $text-color;
        }
    }
}