@import '../../sass/utils/constants';

.home__items {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home__item_wrapper {
    text-decoration: none;
    margin-bottom: 32px;
}

.home__item {
    width: 255px;
    background-color: $item-background-color;
    
    border-radius: 8px;
    overflow: hidden;
    transition: .3s;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 28px 16px rgba(0, 0, 0, 0.25);
    }
}

.item__content {
    padding: 8px 13px 11px;
}

.item__title,
.item__price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: $item-title-color;
}

.item__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__price {
    margin-top: 8px;
}

.item__description {
    margin-top: 8px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $text-color;
}

.item__image {
    width: 100%;
    line-height: 0;
}